<!DOCTYPE html>
<html>

	<head>
		<title>Map The Debate</title>
		<script type="text/javascript" src="http://use.typekit.com/ovv8leg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/960.css" type="text/css" />
		<link rel="stylesheet" href="/css/typography.css" type="text/css" />
		<link rel="stylesheet" href="/css/general.css" type="text/css" />
		<link rel="stylesheet" href="/css/classify.css" type="text/css" />		
	</head>
	
	<body>
		
		<div class="container_12">
			
			<!-- <div class="grid_12">
				<div class="title">
					<h1>Map the Debate</h1>
					<h2>Visualising the web's response. Coming Soon.</h2>
				</div>
			</div> -->
			
			<div class="grid_12">
				
				<form action="/classify" class="classify" method="POST">
				<table class="container_12">
					<tr>
						<th></th>
						<th>opinion?</th>
						<th>sentiment?</th>
					</tr>	
					<% @statuses.each do |s| %>
					<tr>
						<td>
							<h4><%= s.text %></h4> 
							<%
								logged_at = Time.parse(s.logged_at)
								since = Time.now - logged_at
								if since < 60
									since = "#{since.floor} secs ago"
								elsif since < 3600
									since = "#{(since/60).floor} mins ago"
								elsif since < 86400
									since = "#{(since/3600).floor} hours ago"
								else 
									since = "#{logged_at.strftime('%e %b')}"
								end
			
							%>
							<h5>logged <%= since %></h5>
						</td>
						<td>
							<select id="<%= s.id %>" class="subjective" name="subjective[<%= s.id %>]">
								<option value="u">unsure</option>
								<option value="t" <%= "selected" if s.subjective == "t" %>>opinion</option>
								<option value="f" <%= "selected" if s.subjective == "f" %>>fact</option>
							</select>
						</td>
						<td>
							<select id="<%= s.id %>" class="sentiment" name="subjective[<%= s.id %>]">
								<option value="u">unsure</option>
								<option value="t" <%= "selected" if s.subjective == "t" %>>opinion</option>
								<option value="f" <%= "selected" if s.subjective == "f" %>>fact</option>
							</select>
						</td>
						<td>
					
						</td>
					</tr>
					<% end %>	
				</table>
				
				<input type="submit" value="Classify" class="button pink" />
				</form>
				
			</div>
			
		</div>
		
	</body>

</html>