<table>

	<tr>
		<th></th>
		<th>subjectivity</th>
		<th>polarity</th>
		<th>sentiment</th>
		<th></th>
	</tr>	
	
	<% @statuses.each do |s| %>
	<% c = s.trained_status %>
	<tr>
	<form action="/admin/train/<%= s.id %>" class="classify" method="POST">
		
		<td>
			<h4><%= wrap_text(s.text, 64) %></h4> 
			<%
				since = Time.now - s.updated_at
				if since < 60
					since = "#{since.floor} secs ago"
				elsif since < 3600
					since = "#{(since/60).floor} mins ago"
				elsif since < 86400
					since = "#{(since/3600).floor} hours ago"
				else 
					since = "#{s.created_at.strftime('%e %b')}"
				end
			%>
			<h5>fetched <%= since %> (<a class="link_delete" href="/admin/train/<%= s.id %>/delete">delete</a>)</h5>
		</td>
		<td>
			<select id="subjective_<%= s.id %>" class="subjective" name="subjective">
				<% subjective = c.nil? ? nil : c.subjective %>
				<option value="u">unsure</option>
				<option value="t" <%= "selected" if subjective == "t" %>>opinion</option>
				<option value="f" <%= "selected" if subjective == "f" %>>fact</option>
				<option value="s" <%= "selected" if subjective == "s" %>>spam</option>
			</select>
			<input type="text" name="subject" placeholder="subject e.g. nhs" value="<%= c.subject if !c.nil? %>" />
		</td>
		<td>
			<select id="polarity_<%= s.id %>" class="polarity" name="polarity">
				<% polarity = c.nil? ? nil : c.polarity %>
				<option value="u">unsure</option>
				<option value="pos" <%= "selected" if polarity == "pos" %>>positive</option>
				<option value="neu" <%= "selected" if polarity == "neu" %>>neutral</option>
				<option value="neg" <%= "selected" if polarity == "neg" %>>negative</option>
				<option value="both" <%= "selected" if polarity == "both" %>>both</option>
			</select>
			<input type="text" name="positive_phrases" placeholder="+ve phrases" value="<%= c.positive_phrases.inject{|a,e| a +", " + e} if !c.nil? %>" />
			<input type="text" name="negative_phrases" placeholder="-ve phrases" value="<%= c.negative_phrases.inject{|a,e| a +", " + e} if !c.nil? %>" />
		</td>	
		<td>
			<input type="text" name="sentiment" placeholder="e.g. anger" value="<%= c.sentiment.inject{|a,e| a +", " + e} if !c.nil? %>" />
			<input type="text" name="setiment_phrases" placeholder="sentiment phrases" value="<%= c.sentiment_phrases.inject{|a,e| a +", " + e} if !c.nil? %>" />
		</td>
		<td>
			<input type="submit" class="button small dark_grey" value="&#10003;" />
		</td>
		
	</form>
	</tr>	
	
	<% end %>
		
</table>